.calendar-container {
  width: 100%;
  padding: 0;
  margin: 0;
}

.custom-calendar {
  width: 100%;
  border: none;
}

.custom-calendar .react-calendar__tile {
  width: 21.28%;
  max-width: initial;
  border-radius: 8px;
  margin: 6px;
}

.custom-calendar .react-calendar__tile--active {
  background-color: #5B8DD7;
  color: white;
}

.custom-calendar .react-calendar__tile--now {
  background: rgba(91, 141, 215, 0.1);
  border-radius: 50%;
}

.custom-calendar .react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.custom-calendar .react-calendar__navigation__label {
  font-size: 1.2em;
  font-weight: bold;
  color: #858585;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.custom-calendar .react-calendar__tile--rangeStart,
.custom-calendar .react-calendar__tile--rangeEnd {
  background-color: #79D2DE;
  color: white;
  border-radius: 50%;
}

.custom-calendar .react-calendar__month-view__weekdays__weekday {
  width: 14.28%;
  text-align: center;
}

.custom-calendar .react-calendar__month-view__days__day--weekend {
  color: #858585;
}

.react-calendar__month-view__weekdays__weekday {
  color: #5B8DD7;
  text-decoration: none;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  font-weight: 700;
}

.react-calendar__navigation button {
  min-width: 34px;
  background: none;
  color: #ADC6EB;
  font-size: 30px;
}
